body{
    margin: auto;
    padding: 0px;
    font-family: 'B612', sans-serif;
}

.body-container {
    margin: 0px;
    padding: 0px;
}

.main-image {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    /* position: absolute;
    left: 0;
    margin: auto; */
    width: 100vw;
    max-height: 100%;
    z-index: -1;
}

.navbar-nav {
    width: 66%;
    color: #058ea6;
}

.nav-item {
    margin: auto;
}

.nav-item a {
    font-size: 25px;
}

.nav-item a.active {
    text-decoration: underline;
}

.welcome-text {
    width: 50%;
    margin: auto;
    margin-top: 20%;
    background-color: rgba(255,255,255, 0.9);
    padding: 18px;
    border-radius: 3px;
}

.about-container {
    margin-top: 30%;
}

.profile-img-contianer {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.profile-img {
    float: right;
    margin-right: 20px;
    border-radius: 50%;
}

.about-text {
    display: inline-block;
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
}

.work-container {
    width: 60%;
    margin: auto;
    margin-top: 10%;
}

.work-container h2{
    text-align: center;
}

.work-subtitle {
    text-align: center;
    font-style: italic;
}

.work-project {
    position: relative;
    margin-top: 70px;
}

.work-project.left-img img {
    float: right;
}

.work-project.right-img img {
    float: left;
}

.work-project.left-img .work-text-container {
    display: inline-block;
    width: 50%;
    padding-left: 20px;
}

.work-project.right-img .work-text-container {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

.work-image-contianer {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.work-project.left-img .work-image-contianer:after {
    content:'\A';
    position:absolute;
    width: 400px; height:100%;
    top:0; right:51%;
    background:rgba(0,0,0,0.4);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.work-project.left-img .work-image-contianer:hover:after {
    opacity:1;
    cursor: pointer;
}

.work-project.right-img .work-image-contianer:after {
    content:'\A';
    position:absolute;
    width: 400px; height:100%;
    top:0; left:50%;
    background:rgba(0,0,0,0.4);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.work-project.right-img .work-image-contianer:hover:after {
    opacity:1;
    cursor: pointer;
}

.resume-container {
    width: 60%;
    margin: auto;
    margin-top: 10%;
}

.resume-container h2 {
    text-align: center;
    margin-bottom: 50px;
}

.resume-address {
    text-align: center;
    font-style: italic;
}

.tech {
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

.tech h2 {
    text-align: center;
}

.tech .subtitle {
    text-align: center;
}

.tech-logos {
    display: flex;
}

.logo-container {
    /* position: relative; */
    display: inline-flex;
    padding: 3px;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-right: 10px;
}

.logo-container img {
    width: 100%;
    /* width: 300px; */
    max-height: 250px;
    vertical-align: middle;
}

.logo-container img:hover {
    border: 1px solid black;
    border-radius: 3px;
}
