body{
    margin: 0px;
    padding: 0px;
}

.body-container {
    margin: 0px;
    padding: 0px;
}

.main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}

.navbar-nav {
    width: 66%;
    color: #058ea6;
}

.nav-item {
    margin: auto;
}

.nav-item a {
    font-size: 25px;
}

.nav-item a.active {
    text-decoration: underline;
}

.main-card {
    /* margin-left: 75%; */
    width: 75%;
    margin-left: 40%;
    margin-top: 200px;
}

.bio-card {
    width: 75%;
    margin: auto;
    margin-top: 200px;
}

.work-card {
    width: 75%;
    margin: auto;
    margin-top: 200px;
}
